#conteneur
{
    display: flex;
    
    /*flex-direction: column-reverse;*/
   
    /*permet de gerer l'alignement*/
    /*flex-wrap: nowrap;*/
    
     /*permet de gerer l'espacement*/
    justify-content: center;
}








.element:nth-child(1)
{
	background-color: red;
	/*padding:10px 10px; */

}
.element:nth-child(2)
{
	background-color: blue;
	/*padding:10px 10px; */

}
.element:nth-child(3)
{
	background-color: yellow;
	align-self: flex-end;
	
	/*padding:10px 10px; */
}
.element
{
	/*padding: 20px 5px;*/
	margin: auto;
}